<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>
</head>
<body>

    <button type="button" formaction="dept1" formmethod="post" >COMPUTERS</button>
    <button type="button" formaction="dept2" formmethod="post" >IT</button>
    <button type="button" formaction="dept3" formmethod="post" >EXTC</button>
    <button type="button" formaction="dept4" formmethod="post" >ELEX</button>
    <button type="button" formaction="dept5" formmethod="post" >PROD</button>
    <button type="button" formaction="dept6" formmethod="post" >MECH</button>
    <button type="button" formaction="dept7" formmethod="post" >BIOMED</button>
    <button type="button" formaction="dept8" formmethod="post" >CHEM</button>
          
</body>
</html>