<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ title }}</h1>
{% for obj in object_list %}
    {% url "semesters:post_detail" id=obj.id %}
    <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
    {{ obj.page_no }}<br/>
    {{ obj.content }}<br/>
    {{ obj.updated }}<br/>
    {{ obj.timestamp }}<br/>
    {{ obj.id }}<br/>
{% endfor %}
</body>
</html>