<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUBJECTS</title>
</head>
<body>
    <button type="button" formaction="sub1" formmethod="post" >Subject 1</button>
    <button type="button" formaction="sub2" formmethod="post" >Subject 2</button>
    <button type="button" formaction="sub3" formmethod="post" >Subject 3</button>
    <button type="button" formaction="sub4" formmethod="post" >Subject 4</button>
    <button type="button" formaction="sub5" formmethod="post" >Subject 5</button>
    <button type="button" formaction="sub6" formmethod="post" >Subject 6</button>
 </body>
</html>